SUPABASE_URL=<INSIRA A INFORMAÇÃO>
SUPABASE_PUBLISHABLE_KEY=<INSIRA A INFORMAÇÃO>
SUPABASE_SECRET_KEY= <INSIRA A INFORMAÇÃO>
SUPABASE_JWKS_URL= <INSIRA A INFORMAÇÃO>
VITE_SUPABASE_URL=<INSIRA A INFORMAÇÃO>
VITE_SUPABASE_PUBLISHABLE_KEY=<INSIRA A INFORMAÇÃO>